body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

section{
    height: 500px;
    padding-bottom: 150px;
 }

 section{
     padding: 75px 0;
 }
 

/** ==== header area ==== **/

h1{
    font-size: 50px;
}
h2 {
    font-weight: 500;
    font-size: 38px;
}
p{
    color: dimgrey;
    line-height: 2em;
}
img{
    max-width: 100%;
}
.highlight{
    color: orange;
}
.half-width{
    width: 40%;
    margin-left:5%;
    padding:1%;
    float: left;
}

.link_button{
    text-decoration: none;
    padding:10px 20px;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    color:white;
    font-weight: 700;
    border-radius: 5px;
}


/** End **/



/** ==== Projcet Area ==== **/

.section-title{
    text-align: center;
}
#work-area .works{
    display: flex;
    align-items: center;
}
.single-work {
    background: #FFFFFF;
    box-shadow: 0px 6.5812px 19.7436px rgba(0, 0, 0, 0.07);
    border-radius: 19.7436px;
}

.single-work h2,.work_p {
    text-align: center;
    font-family: Roboto;
    /* font-weight: bold; */
    font-size: 24px;
    line-height: 28px;
    color: #363958;
}
section#work-area {
    height: 700px;
}
.work_p {
    padding: 5px;
}
#work-area {
    background-color: #F8F9FC;
}

#work-area .works{
    padding: 0 7%;
}
#work-area .single-work{
    width: 30%;
    margin: 1.5%;
    position: relative;
    cursor: pointer;

}

/** End **/



/** ===== Footer area ===== **/
 

.footer-and-contact{
    text-align: center;
    padding: 0 8%;
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top ;
}

.footer-and-contact> *{
    max-width: 620px;
    margin: 0 auto;
}

.contact .card p{
    color: #ffffff;
}

.contact .card{
    background-image: url("images/footer_bg.png") ;
    color: #ffffff;
    padding: 30px 10px;
    border-radius: 15px;
    margin: 70px 0;
}


/**End**/