body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color:dimgray;
}
.highlight{
    color: orange;
}
.half-width{
    width: 40%;
    margin-left:5%;
    padding:1%;
    float: left;
}
.half-width img{
    width: 100%;

}
.half-width img{
    width: 88%;
}

.link_buttom{
    text-decoration: none;
    padding:10px 20px;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    color:white;
    font-weight: 700;
    border-radius: 5px;
}

section{
   height: 500px;
   padding-bottom: 150px;
}

.singel_exp {
    border-left: 5px solid;
    border-image: linear-gradient(180deg, lightSalmon, tomato);
    border-image-slice: 1;
}
.half-width.singel_exp2 {
    border-left: 5px solid;
    border-image: linear-gradient(180deg, #ff7a7a, #47ff4d);
    border-image-slice: 1;
}

.half-width.singel_exp,.half-width.singel_exp2 {
    box-shadow:10px 10px 40px grey;
    height: 80%;
    border-radius: 5px;
    background-color: white;
}
.Experience_area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
footer p{
    text-align: center;
}
